body {
  padding: 0;
  margin: 0;
  font-family: 'Share Tech Mono' !important;
}


.container {
  display: grid;
  grid-template-areas: "sidemenu main";
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}
/* MODAL */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* MODAL STYLES */
.light-modal-header{
  background-color: #FF9292;
}

.light-modal-body {
  background-color: #DF8080;
}

.light-modal-footer {
  background-color: #FF9292;
}

.light-modal-close-btn {
  background-color: #DF8080;
}

/* SIDEMENU */

.sidemenu {
  background: #FF9292;
  grid-area: sidemenu;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
  position: relative;
}
.profilePhoto {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 55px;
  background-image: url('../imgs/P1-min-min.jpg');
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background: #FFFF92;
  width: 100%;
}

nav  a {
  color: #C992FF;
  display: block;
  padding: .5em;
}
nav  a:hover {
  color:#FFFF92;
  background-color: #C992FF;
}

nav ul li:hover {
  background-color: #C992FF;
  color: #FFFF92;
}

/* MAINCONTENT */

main {
  background: white;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-area {
  /* background: #ccc; */
  width: 80%;
  height: 80%;
  padding: 30px;

}

.content-area h1 {
  font-size: 2.5em;

}

.content-area hr {
  border: 5px solid #FF9292;
  border-style: solid;
  margin: 0;
  padding: 0;
}

.content-area p {
  text-align: left;
  font-size: 1.7em;
  line-height: 1.5em;
}

/* PORTFOLIO CONTENT */

.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 40px;
  /* background-color: #aaa; */
}


figure {
  height: 200px;
  width: 200px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.46);
  -moz-box-shadow:    0px 2px 8px 0px rgba(50, 50, 50, 0.46);
  box-shadow:         0px 2px 8px 0px rgba(50, 50, 50, 0.46);
}

figure:hover {
  transform: scale(1.1,1.1);
  -webkit-box-shadow: 0px 7px 8px 0px rgba(50, 50, 50, 0.46);
  -moz-box-shadow:    0px 7px 8px 0px rgba(50, 50, 50, 0.46);
  box-shadow:         0px 7px 8px 0px rgba(50, 50, 50, 0.46);
}

figure img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width:100%;
  height:150px;
  object-fit: contain;
}

figcaption {
  text-align: center;
}

figcaption a {
  color: #C992FF;
  font-weight: bold;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container h3 a {
  color: #C992FF;
}
.contact-container > button {
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  border-radius: 5px;
}


.hamburger-menu {
  display: none;
}


.contact-container button a {
  color: white;
  font-family: 'Share Tech Mono';
  font-size: 2em;
  text-decoration: none;
}
.linkedin {
  background-color: #0077B5;
}

.github, .codepen {
  background-color: black;
}

.upwork {
  background-color: rgb(91, 188, 46);
}

.dribbble {
  background-color: #ea4c89;
}

.hidden {
  display: none;
}

.button-reappear {
  display: flex;
}

.sidenav {
  display: none;
}
/* ICONS  */

.fa-html5 {
  color: #f06529;
}

.fa-css3-alt {
  color: #66ccff;
}

.fa-js-square {
  color: #f7df1e;
  background: black;
  line-height: .8;
}

.fa-node {
  color: #6cc24a;
  background: #215732;
  padding: 1px;
}

.fa-wordpress {
  color: #21759b;
}

.fa-react {
  color: #00d8ff;
  background: black;
  line-height: 1;
  padding: 2px;
}
@media only screen and (max-width: 760px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .sidemenu {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

  }

  .profilePhoto {
    position: static;
    /* max-width: 100%;
    max-height: 100%; */
    height: 80px;
    width: 80px;
    margin-top: 3px;
    margin-left: 25px;
  }

  .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    /* background-color: #FFFF92; */
    margin-top: 3px;
    margin-right: 25px;
    border-radius: 10px;

  }

  .sidemenu nav {
    display: none;
  }

  main {
    flex: 5;
  }

  .sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFFF92;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
}
